*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.card{
  background-color: rgb(236, 209, 215);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: lightblue;
  padding: 20px;
  margin:5px;
}